__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
*.egg-info/
.eggs/
dist/
build/

.venv/
venv/
env/
.env

input/
output/
cache/
.tmp/
thumbnail/
logs/
database/

backend/templates.json

*.db
*.sqlite
*.sqlite3
*.log
*.log.*

.idea/
.vscode/
*.swp
*.swo
*~
*.tmp
*.bak
